{% extends 'layout.html' %}

{% block titulo %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/data.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/data.js')}}">
</script>
{% endblock %}

{% block body %}
<div class="banner">
    <h1 class="mb-5 page-title">Ingrese datos para el modelo matemático</h1>
</div>
<div class="container">
    <div class="row row-container align-items-center">
        <div class="col-12 form-bg">

            <form id="form-data" method="POST" action="{{ url_for('selecMethod') }}">
                <div class="form-group mb-4">
                    <label class="mb-3 form-title" for="objetivo">Seleccione proceso de optimización</label>
                    <select id="minmax" class="form-control validate">
                        <option value="max">Maximizar</option>
                        <option value="min">Minimizar</option>
                    </select>
                </div>
                <div class="form-group mb-4">
                    <label class="mb-3 form-title"> Ingrese la funcion objetivo</label>
                    <div class="grid-div">
                        {% for i in range(variables)%}
                        <div>
                            <input id="objFuncionX{{i+1}}" class="form-control objFuncion validate" type="text" pattern="(-)*[0-9]+(.|/){0,1}[0-9]*" step=".01">
                            <span>X<sub>{{ (i+1)|string + " +" if (i+1) != variables else (i+1)}}</sub></span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group mb-5">
                    <label class="mb-3 form-title">Restricciones</label>
                    {% for i in range(restricciones) %}

                    <div class="grid-div mb-4 Restricciones">
                        {% for i in range(variables)%}
                        <div>
                            <input type="text" class="form-control restric-var resx{{i+1}} validate" pattern="(-)*[0-9]+(.|/){0,1}[0-9]*" step=".01">
                            <span>x<sub>{{ (i+1)|string + " +" if (i+1) != variables else (i+1)}}</sub></span>
                        </div>
                        {% endfor %}
                        <div class="grid-select">
                            <select class="form-control resOperand validate">
                                <option value="<="> &le; </option>
                                <option value=">="> &ge; </option>
                                <option value="="> &#61; </option>
                            </select>
                            <input type="text" class="form-control resResult validate" pattern="(-)*[0-9]+(.|/){0,1}[0-9]*" step=".01">
                        </div>                        
                    </div>

                    {% endfor %}

                </div>
                <div class="form-group">
                    <button class="btn btn-third w-100 mb-5" id="btnSent" disabled>
                        Calcular
                    </button>
                </div>
                <input type="hidden" name="hidden-data" id="hiddenInput">
            </form>
        </div>
    </div>
</div>


{% endblock %}